<fieldset data-hook="paystack_source_view">
  <legend align="center">Paystack Transaction</legend>

  <div class="row">
    <div class="col-4">
      <dl>
        <dt>Ref:</dt>
        <dd><%= payment.order.id %></dd>
        <dt>Provider:</dt>
        <dd>Paystack</dd>
      </dl>
    </div>
  </div>
</fieldset>
